# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz

# Figure output
src/tex/figures/*
# LaTeX compilation log
src/tex/*.log

# Miscellaneous
__pycache__
.DS_Store
